* {
  background-color: rgba(128, 128, 128, 0.25);
  /* border: 1px solid grey; */
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #007fb1;
  font-weight: bold;
}
